body{
  overflow-x: hidden;
}

.main-heading{
  font-size: clamp(2rem, 10vw, 5rem);
}
.category-selection{
  border-radius: 0.8rem !important;
  height: 35px !important;
  display: flex !important;
  align-items: center !important;
}
.category-selection:hover{
  border: 1px solid transparent;
}
img {
  object-fit: cover;
}
.card:hover{
  cursor: pointer;
}